@using SkyService;
@model SkyEntity.Renwu
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.title = "课时管理";
}
@section Topcss {
    <link href="~/plugins/bootstrap-validator/css/bootstrapValidator.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/iCheck/square/green.css" rel="stylesheet" type="text/css" />
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            新增 @ViewBag.title
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            新增 @ViewBag.title
                        </h3>

                    </div>
                    <!-- /.box-header -->
                    @using (Html.BeginForm("Create", "Renwu", FormMethod.Post, new { @class = "form-horizontal", @name = "Create", @id = "Create" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="box-body">
                            <div class="col-md-12">



                                <div class="form-group">
                                    @Html.LabelFor(model => model.RenwuBook, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                       
                                        <input type="text" class="form-control" value="@PeibanService.GetBookById(ViewBag.bid).Title" readonly="readonly" />
                                              
                                               @Html.HiddenFor(model => model.RenwuBook, new { @class = "form-control", @Value = ViewBag.bid , @readonly = "readonly" })</div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "任务名称" })
                                        @Html.ValidationMessageFor(model => model.Title)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.VideoUrl, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.VideoUrl, new { @class = "form-control", @placeholder = "课程视频地址" })
                                        @Html.ValidationMessageFor(model => model.VideoUrl)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.AudioUrl, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.AudioUrl, new { @class = "form-control", @placeholder = "课程音频地址" })
                                        @Html.ValidationMessageFor(model => model.AudioUrl)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Paixu, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        <input type='text' class="form-control" name="Paixu" id="Paixu" value="0" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" />
                                     
                                        @Html.ValidationMessageFor(model => model.Paixu)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        <textarea id="Content" name="Content" style="height:500px;"></textarea>
                                        @Html.ValidationMessageFor(model => model.Content)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IfVideoOn, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.CheckBoxFor(model => model.IfVideoOn, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IfAudioOn, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.CheckBoxFor(model => model.IfAudioOn, new { @class = "form-control" })
                                    </div>
                                </div>

                            </div>


                        </div>

                    <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            
                            <button type="submit" class="btn btn-primary pull-right">保存并发布</button>
                        </div>

                    }
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>




@section BottomScripts {
    <script type="text/javascript" src="~/plugins/bootbox.min.js"></script>
    <script type="text/javascript" src="~/plugins/iCheck/icheck.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap-validator/js/bootstrapValidator.js"></script>
    <script type="text/javascript" charset="gbk" src="~/plugins/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="gbk" src="~/plugins/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="gbk" src="~/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" src="~/Resource/js/SkyInit.js"></script>

<script type="text/javascript">
    var ue = UE.getEditor('Content');
</script>


   
}
