@using SkyService;
@model SkyEntity.Renwu
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.title = "文章管理";
}
@section Topcss {
<link href="~/plugins/bootstrap-validator/css/bootstrapValidator.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/iCheck/square/green.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet">
<link href="~/plugins/copper/css/cropper.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/copper/css/avatar.css" rel="stylesheet" type="text/css" />
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>          
            修改 @ViewBag.title
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            修改 @ViewBag.title
                        </h3>

                    </div>
                    <!-- /.box-header -->
                    @using (Html.BeginForm("Edit", "Renwu", FormMethod.Post, new { @class = "form-horizontal", @name = "Edit", @id = "Edit" }))
                    {
                        @Html.AntiForgeryToken()
                         @Html.ValidationSummary(true)
                          @Html.HiddenFor(model=>model.Id)
                    <div class="box-body">
                        <div class="col-md-12">

                            <div class="form-group">
                                @Html.LabelFor(model => model.RenwuBook, new { @class = "control-label col-md-2" })
                                <div class="col-sm-9">

                                    <input type="text" class="form-control" value="@PeibanService.GetBookById(Model.RenwuBook).Title" readonly="readonly" />

                                    @Html.HiddenFor(model => model.RenwuBook, new { @class = "form-control", @Value = Model.RenwuBook, @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "任务名称" })
                                    @Html.ValidationMessageFor(model => model.Title)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.VideoUrl, new { @class = "control-label col-md-2" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.VideoUrl, new { @class = "form-control", @placeholder = "课程视频地址" })
                                    @Html.ValidationMessageFor(model => model.VideoUrl)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AudioUrl, new { @class = "control-label col-md-2" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.AudioUrl, new { @class = "form-control", @placeholder = "课程音频地址" })
                                    @Html.ValidationMessageFor(model => model.AudioUrl)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Paixu, new { @class = "control-label col-md-2" })
                                <div class="col-sm-9">
                                    <input type='text' class="form-control" name="Paixu" id="Paixu" value="@Model.Paixu" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" />
                                    @Html.ValidationMessageFor(model => model.Paixu)
                                </div>
                            </div>

                                                 

                           <div class="form-group">
                                @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
                                <div class="col-sm-9">
                                    <textarea id="Content" name="Content" style="height:500px;">@Html.Raw(Model.Content)</textarea>
                                </div>
                            </div>
                           
                            <div class="form-group">
                                @Html.LabelFor(model => model.VideoOn, new { @class = "control-label col-md-2" })
                                <div class="col-sm-9">
                                    @Html.CheckBoxFor(model => model.VideoOn, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AudioOn, new { @class = "control-label col-md-2" })
                                <div class="col-sm-9">
                                    @Html.CheckBoxFor(model => model.AudioOn, new { @class = "form-control" })
                                </div>
                            </div>



                        </div>


                    </div>
                    
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        
                        <button type="submit" class="btn btn-primary pull-right">保存并发布</button>
                    </div>
               
                    } </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>



@section BottomScripts {
    <script type="text/javascript" src="~/plugins/bootbox.min.js"></script>
    <script type="text/javascript" src="~/plugins/iCheck/icheck.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap-validator/js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="~/plugins/ueditor/ueditor.config.js" charset="gbk"></script>
    <script type="text/javascript" src="~/plugins/ueditor/ueditor.all.min.js" charset="gbk"> </script>
    <script type="text/javascript" src="~/plugins/ueditor/lang/zh-cn/zh-cn.js" charset="gbk"></script>
    <script type="text/javascript" src="~/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>

    <script type="text/javascript" src="~/Resource/js/SkyInit.js"></script>
    <script type="text/javascript">
        var ue = UE.getEditor('Content');
        //  $('#imageaspectRatio').val('1.33333');
      
    </script>
}

