@model StaticPagedList<SkyEntity.ChanpinOrder>
@using PagedList;
@using PagedList.Mvc;
@using SkyService;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.title = "订单管理";
}
@section Topcss {
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/bootstrap-switch/css/bootstrap-switch.css" rel="stylesheet" type="text/css" />


}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.title
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            @ViewBag.title

                        </h3>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        @Html.AntiForgeryToken()
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                   
                                    <th class="col-sm-1">
                                        订单号
                                    </th>
                                    <th class="col-sm-1">
                                        用户
                                    </th>
                                    <th class="col-sm-1">
                                        产品类型
                                    </th>
                                    <th class="col-sm-1">
                                        产品
                                    </th>
                                    <th class="col-sm-1">
                                        邀请人
                                    </th>
                                    
                                    <th class="col-sm-1">
                                        审核状态
                                    </th>
                                    <th class="col-sm-1">
                                        邀请人支付状态
                                    </th>
                                    <th class="col-sm-1">
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id) - @Html.DisplayFor(modelItem => item.OrderNumber)
                                        </td>
                                        <td>
                                            @PeibanService.GetRenById(item.VipUser).RenNickName
                                        </td>
                                        <td>
                                            @if (item.ProductType == 1)
                                            {
                                                @Html.Raw("会员产品")
                                            }
                                            else
                                            {
                                                @Html.Raw("课程产品")
                                            }
                                        </td>
                                        <td>
                                            @if (item.ProductType == 1)
                                            {
                                                if (item.BuyChanpin == 1)
                                                {
                                                    @Html.Raw("普通会员")
                                                }
                                                else
                                                {
                                                    @Html.Raw("陪伴师会员")
                                                }
                                            }
                                            @if (item.ProductType == 2)
                                            {
                                                @Html.Raw("课程产品名称")
                                            }

                                        </td>
                                        <td>
                                            @if (PeibanService.GetRenById(item.Yaoqingren) == null)
                                            { 
                                                @Html.Raw("邀请人编号有误")
                                            }
                                            else
                                            {
                                                @PeibanService.GetRenById(item.Yaoqingren).RenNickName;
                                            }
                                         </td>

                                       
                                        <td class="col-sm-1">
                                            <button class="btn btn-xs btn-@(item.Status=="true" ? "success" : "danger")">@(item.Status == "true" ? "已支付" : "未支付") - @item.CreateTime</button>
                                        </td>
                                        
                                        <td class="col-sm-1">
                                            <button class="btn btn-xs btn-@(item.PayStatus=="true" ? "success" : "danger")">@(item.PayStatus=="true" ? "已支付" : "未支付")</button>
                                        </td>
                                        <td class="col-sm-1">
                                            <a class="btn btn-xs btn-success" href="@Url.Action("Edit","ChanpinOrder",new{id=item.Id})"><i class="fa fa-pencil"></i> 编辑</a>
                                        </td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { cid = Request.QueryString["cid"], page = page }),
                            new PagedListRenderOptions
                            {
                                LinkToPreviousPageFormat = "上一页",
                                LinkToNextPageFormat = "下一页",
                                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                MaximumPageNumbersToDisplay = 5,
                                LinkToFirstPageFormat = "首页",
                                LinkToLastPageFormat = "最后一页",
                                PageCountAndCurrentLocationFormat = "第 {0}页 共 {1}页"
                            })
                        </ul>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>



@section BottomScripts {
    <script type="text/javascript" src="/plugins/bootbox.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-switch/js/bootstrap-switch.js"></script>

    <script type="text/javascript">

    function UpdateStatus(id, status, url) {
        bootbox.confirm({
            buttons: {
                confirm: {
                    label: '审核通过',
                    className: 'btn-danger'
                },
                cancel: {
                    label: '取消',
                    className: 'btn-default'
                }
            },
            message: '你确认审核本订单吗？',
            callback: function (result) {
                if (result) {
                    var token = $('[name=__RequestVerificationToken]').val();
                    var headers = {};
                    //防伪标记放入headers
                    //也可以将防伪标记放入data
                    headers["__RequestVerificationToken"] = token;
                    $.ajax({
                        url: url,
                        headers: headers,
                        type: 'post',
                        timeout: 3000,
                        data: {
                            id: id,
                            __RequestVerificationToken: token,
                            status: status,
                        },
                        success: function (msg) {
                            if (msg.MessageStatus == 'true') {
                                 window.location.reload();
                            }
                            else {
                                alertconfirm('审核失败');
                            }
                        },
                        error: function (e) {
                            alertconfirm('出现意外错误，审核失败！');
                        }
                    });
                }
                else {
                    // alertconfirm('您已经取消审核了');
                }
            },
            title: "审核确认提示框",
        });
    }



    </script>
}


