<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 陪伴空间</title>
    <link rel="stylesheet" href="/AdminLTE/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/AdminLTE/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Resource/css/Peiban.css">
    @RenderSection("TopCss", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("陪伴空间", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("主页", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("发现", "Product", "Home")</li>
                    @*<li>@Html.ActionLink("1对1陪伴", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("成长记录", "ChengzhangList", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    @RenderBody()

    <div class="container peiban-container">
        <a href="@Url.Action("NoticeView", "Notice", new { id=1})" target="_blank" class="a2color">
            关于我们
        </a> | <a href="@Url.Action("NoticeView", "Notice", new { id=2})" target="_blank" class="a2color">
            服务协议
        </a> | <a href="@Url.Action("NoticeView", "Notice", new { id=3})" target="_blank" class="a2color">
            联系客服
        </a>
        <hr style="margin:5px 0;padding:0;">
        Copyright © 2012-2018 版权所有. All Rights Reserved.
    </div>

    <!-- jQuery 3 -->
    <script src="/AdminLTE/jquery/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/plugins/bootbox.min.js"></script>
    <script src="/Resource/js/Peiban.js"></script>
    @RenderSection("BottomScripts", required: false)
</body>
</html>
