@model SkyEntity.Product
@using SkyService;
@using SkyEntity;

@section Topcss {
    <link href="~/plugins/iCheck/square/green.css" rel="stylesheet" type="text/css" />
}
<div class="container peiban-container">

    <div class="row">
        <div class="col-md-8">
            <h3>创建陪伴空间</h3>

            @using (Html.BeginForm("CreateProduct", "UHome", FormMethod.Post, new { @class = "form-horizontal", @name = "CreateProduct", @id = "CreateProduct" }))
            {

                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductBook, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input class="form-control" readonly="readonly" value="@PeibanService.GetBookById(ViewBag.pid).Title" />
                        @Html.HiddenFor(model => model.ProductBook, new { @Value = ViewBag.pid, @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.ProductBook)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Peibanshi, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input class="form-control" readonly="readonly" value="@PeibanService.GetRenById(int.Parse(Session["renid"].ToString())).RenNickName" />
                        @Html.HiddenFor(model => model.Peibanshi, new { @class = "form-control", @Value = int.Parse(Session["renid"].ToString()), @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Peibanshi)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Price)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        @Html.LabelFor(model => model.Shangxian, new { @class = "control-label" })

                        @Html.CheckBoxFor(model => model.Shangxian, new { @class = "form-control" })

                        @Html.LabelFor(model => model.Tiyan, new { @class = "control-label" })

                        @Html.CheckBoxFor(model => model.Tiyan, new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-8 col-md-offset-2">

                        <button type="submit" class="btn btn-primary btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;立刻创建&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>

            }


        </div>
        <div class="col-md-4">
            @Html.Action("UserInfo", "UHome")
        </div>
    </div>
</div>


@section BottomScripts {
    <script type="text/javascript" src="~/plugins/iCheck/icheck.js"></script>
    <script type="text/javascript" src="~/Resource/js/SkyInit.js"></script>
}
