@model StaticPagedList<SkyEntity.Product>
@using PagedList;
@using PagedList.Mvc;
@using SkyService;
@using SkyCommon;

<div class="container peiban-container">

    <div class="row">
        <div class="col-md-8">
            <h3>
                陪伴空间<span class="pull-right">
                    @if (Session["Peibanshi"].ToString() == "true")
                    {
                        <button class="btn btn-warning"><i class="fa fa-plus-circle"></i> 创建</button>}
                    <button class="btn btn-success"><i class="fa fa-plus-circle"></i> 发现</button>
                </span>
            </h3>
            <div class="row">
                @Html.AntiForgeryToken()
                @foreach (var item in Model)
                {

                    <div class="col-md-4 col-sm-6">
                        <div class="probox">
                            <div class="probox-img">
                                <img src="@PeibanService.GetBookById(item.ProductBook).Cover" alt="" class="img-thumbnail">
                                <h4 class="text-center">@item.Title</h4>
                            </div>
                            <div class="probox-content">
                                <h4 class="title">@item.Title</h4>

                                <p class="description" style="text-align: left">
                                    陪伴项目：@PeibanService.GetBookById(item.ProductBook).Title<br>
                                    @CommonTools.ReplaceHtmlTag(PeibanService.GetBookById(item.ProductBook).Content, 60)
                                </p>
                                <p style="text-align: center;color: #fff">
                                    <b style="text-align: center">空间陪伴师：@PeibanService.GetRenById(item.Peibanshi).RenNickName</b><br>
                                </p>

                                <ul class="social-links">
                                    @if (PeibanService.GetStatusBySpaceRen(int.Parse(Session["renid"].ToString()), item.Id).MessageStatus == "false")
                                    {
                                        <li><button class="btn btn-success" onclick="JinruKongjian('@item.Id','@Session["renid"].ToString()','@item.ProductBook','@item.Peibanshi','/UHome/EntrySpace/','/UHome/RenwuList?id=@item.Id')"><i class="fa fa-qq"></i> 申请进入</button></li>

                                    }
                                    else
                                    {
                                        <li><a class="btn btn-success" href="@Url.Action("RenwuList","UHome",new{id=item.Id})"><i class="fa fa-qq"></i> 立即进入</a></li>

                                    }

                                </ul>
                            </div>
                        </div>
                    </div>

                }
            </div>
            <div class="box-footer clearfix  text-center">
                <ul class="pagination pagination-sm no-margin">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
                            new PagedListRenderOptions
                            {
                                LinkToPreviousPageFormat = "上一页",
                                LinkToNextPageFormat = "下一页",
                                DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                MaximumPageNumbersToDisplay = 5,
                                LinkToFirstPageFormat = "首页",
                                LinkToLastPageFormat = "最后一页",
                                PageCountAndCurrentLocationFormat = "第 {0}页 共 {1}页"
                            })
                </ul>
            </div>
        </div>
        <div class="col-md-4">

            @Html.Action("UserInfo", "UHome")

        </div>
    </div>

</div>


@section BottomScripts {

    <script type="text/javascript">
        function JinruKongjian(kid, rid, bid,pid,url, tourl) {
            bootbox.confirm({
                buttons: {
                    confirm: {
                        label: '进入空间',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: '取消',
                        className: 'btn-default'
                    }
                },
                message: '你确定要进入本空间吗？<br><br> 非常高兴与您在本空间相遇，让我们一起陪伴成长。<br><br>一生那么长，有些路要一起走！',
                callback: function (result) {
                    if (result) {
                        var token = $('[name=__RequestVerificationToken]').val();
                        var headers = {};
                        //防伪标记放入headers
                        //也可以将防伪标记放入data
                        headers["__RequestVerificationToken"] = token;
                        $.ajax({
                            url: url,
                            headers: headers,
                            type: 'post',
                            timeout: 3000,
                            data: {
                                rid: rid,
                                kid: kid,
                                bid: bid,
                                pid: pid,
                                __RequestVerificationToken: token,
                                status: 'true',
                            },
                            success: function (msg) {
                                if (msg.MessageStatus == 'true') {
                                    window.location.href = tourl;
                                }
                                else {
                                    alertconfirm('抱歉你没有权限进入本空间');
                                }
                            },
                            error: function (e) {
                                alertconfirm('出现意外错误，进入空间失败！');
                            }
                        });
                    }
                    else {
                        // alertconfirm('您已经取消删除了');
                    }
                },
                title: "进入空间通行证",
            });
        }



    </script>
}
