@model StaticPagedList<SkyEntity.ChanpinOrder>
@using PagedList;
@using PagedList.Mvc;
@using SkyService;
@using SkyCommon;

<div class="container peiban-container">

    <div class="row">
        <div class="col-md-4">

            @Html.Action("UserInfo", "UHome")

        </div>
        <div class="col-md-8">
            <h3>我的订单</h3>
            <div class="row">
                @Html.AntiForgeryToken()
                <table class="table table-hover">
                  
                        <tr>

                          
                            <th class="col-sm-1">
                                下单时间
                            </th>
                            <th class="col-sm-1">
                                产品类型
                            </th>
                            <th class="col-sm-1">
                                产品
                            </th>
                           

                            <th class="col-sm-1">
                                审核状态
                            </th>
                         
                        </tr>
                   
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                
                                <td>
                                    @item.CreateTime.ToString("yyyy-MM-dd hh:mm:ss")
                                </td>
                               
                                <td>
                                    @if (item.ProductType == 1)
                                    {
                                        @Html.Raw("会员产品")
                                    }
                                    else
                                    {
                                        @Html.Raw("课程产品")
                                    }
                                </td>
                                <td>
                                    @if (item.ProductType == 1)
                                    {
                                        if (item.BuyChanpin == 1)
                                        {
                                            @Html.Raw("VIP会员")
                                        }
                                        else
                                        {
                                            @Html.Raw("陪伴师会员")
                                        }
                                    }
                                    @if (item.ProductType == 2)
                                    {
                                        @Html.Raw("课程产品名称")
                                    }

                                </td>
                              


                                <td class="col-sm-1">
                                    <span class="label label-@(item.Status=="true" ? "success" : "danger")">
                                        @{ ViewBag.paystatus =
                                                       item.Status == "true" ? "已支付"
                                                           : item.Status == "false" ? "未审核"
                                                               : item.Status == "nopay" ? "未支付"
                                                                   : item.Status == "close" ? "已关闭"
                                                                       : item.Status == "expired" ? "已过期" : "";}
                                        @ViewBag.paystatus

                                    </span>
                                </td>

                             
                               
                            </tr>

                        }

                    </tbody>
                </table>



            </div>
            @if (Model.PageCount > 1)
            {
                <div class="box-footer clearfix  text-center">
                <ul class="pagination pagination-sm no-margin">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("MyOrder", new {page = page }),
                        new PagedListRenderOptions
                        {
                            LinkToPreviousPageFormat = "上一页",
                            LinkToNextPageFormat = "下一页",
                            DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                            DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                            DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                            DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                            MaximumPageNumbersToDisplay = 5,
                            LinkToFirstPageFormat = "首页",
                            LinkToLastPageFormat = "最后一页",
                            PageCountAndCurrentLocationFormat = "第 {0}页 共 {1}页"
                        })
                </ul>
            </div>
            }
            
        </div>
        
    </div>

</div>


@section BottomScripts {

    <script type="text/javascript">
        function JinruKongjian(kid, rid, bid,pid,url, tourl) {
            bootbox.confirm({
                buttons: {
                    confirm: {
                        label: '进入空间',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: '取消',
                        className: 'btn-default'
                    }
                },
                message: '你确定要进入本空间吗？<br><br> 非常高兴与您在本空间相遇，让我们一起陪伴成长。<br><br>一生那么长，有些路要一起走！',
                callback: function (result) {
                    if (result) {
                        var token = $('[name=__RequestVerificationToken]').val();
                        var headers = {};
                        //防伪标记放入headers
                        //也可以将防伪标记放入data
                        headers["__RequestVerificationToken"] = token;
                        $.ajax({
                            url: url,
                            headers: headers,
                            type: 'post',
                            timeout: 3000,
                            data: {
                                rid: rid,
                                kid: kid,
                                bid: bid,
                                pid: pid,
                                __RequestVerificationToken: token,
                                status: 'true',
                            },
                            success: function (msg) {
                                if (msg.MessageStatus == 'true') {
                                    window.location.href = tourl;
                                }
                                else {
                                    alertconfirm('抱歉你没有权限进入本空间');
                                }
                            },
                            error: function (e) {
                                alertconfirm('出现意外错误，进入空间失败！');
                            }
                        });
                    }
                    else {
                        // alertconfirm('您已经取消删除了');
                    }
                },
                title: "进入空间通行证",
            });
        }



    </script>
}
