@model SkyEntity.Product
@using SkyEntity;
@using SkyService
@using SkyCommon;
@{
    Book book = ViewData["probook"] as Book;
    List<Renwu> renwus = ViewData["proRenwus"] as List<Renwu>;
}



<div class="container peiban-container">

    <div class="row">
        <div class="col-md-8">
            <h3>@Model.Title</h3>
            <h5 style="height: 25px;line-height: 25px;">
                陪伴项目：@PeibanService.GetBookById(Model.ProductBook).Title &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                空间陪伴师：@PeibanService.GetRenById(Model.Peibanshi).RenNickName
            </h5>
            <div class="well" style="line-height: 30px;">
                <article>
                    @Html.Raw(book.Content)
                </article>
            </div>
            <table class="table table-hover">
                
                @foreach (Renwu renwu in renwus)
                {
                    <tr>
                        <td>@renwu.Id 、 @renwu.Title</td>

                        @if (PeibanService.GetStatusByPreDaka(renwu.Id,Model.ProductBook).MessageStatus == "true")
                        {
                            <td><a class="btn btn-danger pull-right btn-sm" href="@Url.Action("Daka", "UHome", new {renwu=renwu.Id,book=renwu.RenwuBook,peibanshi=Model.Peibanshi,kongjian=Model.Id,dakaren=Session["renid"].ToString()})"><i class="fa fa-edit"></i> 打卡</a></td>
                        }
                        else
                        { 
                            <td><button class="btn btn-default pull-right btn-sm"><i class="fa fa-lock"></i> 解锁</button></td>                       
                        }
                        
                    </tr>

                    @*<h4 style="vertical-align:middle">
                        @renwu.Title
                    <small><button class="btn btn-danger pull-right"><i class="fa fa-lock"></i> 解锁</button></small>
                </h4>

                    <span>
                        @CommonTools.ReplaceHtmlTag(renwu.Content, 90)
                    </span>*@


                }
            </table>

        </div>
        <div class="col-md-4">

            @Html.Action("UserInfo", "UHome")

        </div>
    </div>

</div>


@section BottomScripts {
    <script type="text/javascript" src="~/plugins/readmore/readmore.js"></script>
    <script type="text/javascript">

        $('article').readmore({
            speed: 75,
            moreLink: '<br><a href="#">展开</a>',
            lessLink: '<br><a href="#">收起</a>',
        });


    </script>

}
