@using SkyWechatService;
@using SkyEntity;
@model SkyEntity.Ren
@{
    Layout = null;
    ViewBag.Title = "陪伴空间用户注册";
    WebchatJsUserinfo wxUserInfo = ViewData["userInfo"] as WebchatJsUserinfo;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/AdminLTE/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Resource/css/SkyWap.css">
    <link href="~/plugins/bootstrap-validator/css/bootstrapValidator.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3 class="regTitle">请输入你的手机号</h3>

                <div class="box-body">

                    @using (Html.BeginForm("Register", "Ucenter", FormMethod.Post, new { @class = "form-horizontal", @name = "Register", @id = "Register" }))
                    {  @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.RenOpenid, new { @Value = wxUserInfo.openid })
                        @Html.HiddenFor(model => model.RenUnionid, new { @Value = wxUserInfo.unionid })
                        @Html.HiddenFor(model => model.RenNickName, new { @Value = wxUserInfo.nickname })
                        @Html.HiddenFor(model => model.RenSex, new { @Value = wxUserInfo.sex })
                        @Html.HiddenFor(model => model.Country, new { @Value = wxUserInfo.country })
                        @Html.HiddenFor(model => model.Province, new { @Value = wxUserInfo.province })
                        @Html.HiddenFor(model => model.City, new { @Value = wxUserInfo.city })
                        @Html.HiddenFor(model => model.RenAvatar, new { @Value = wxUserInfo.headimgurl })
                        @Html.HiddenFor(model => model.RenName, new { @Value = wxUserInfo.nickname })
                        @Html.HiddenFor(model => model.CreateTime, new { @Value = DateTime.Now })
                        @Html.HiddenFor(model => model.RenInfo, new { @Value = "这个人很懒，什么也没有留下" })
                        @Html.HiddenFor(model => model.RenYijuhua, new { @Value = "这个人很懒，什么也没有留下" })
                         @Html.HiddenFor(model => model.Status, new { @Value = true })
                         @Html.HiddenFor(model => model.MsgStatus, new { @Value = true })
                       
                         @Html.ValidationMessageFor(model => model.RenPhone)
                         @Html.ValidationMessageFor(model => model.RenPassword)
                         @Html.ValidationMessageFor(model => model.Yaoqingren)
                        @Html.ValidationSummary()
                        <div class="reginput-group">
                            <div class="regInputLable">手机号</div>
                            <div style="margin-left:90px;">
                                <input type="text" class="regInput" name="RenPhone" id="RenPhone" placeholder="请输入手机号" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" />
                            </div>
                           
                        </div>
                        
                        <div class="reginput-group">
                            <div class="" style="float:right"><button class="btn btn-info" type="button">发送验证码</button></div>
                            <div style="margin-right:120px;">
                                <input type="text" name="Yanzhengma" id="Yanzhengma" class="regInput" placeholder="点击获取验证码" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" />
                            </div>
                           
                        </div>
                        
                        <div class="reginput-group">
                            <div class="regInputLable">设置密码</div>
                            <div style="margin-left:90px;">
                                <input type="password" class="regInput" name="RenPassword" id="RenPassword" placeholder="请设置密码" />
                            </div>
                           
                        </div>
                        
                        <div class="reginput-group">
                            <div class="regInputLable">邀请码</div>
                            <div style="margin-left:90px;">
                                <input type="text" class="regInput" name="Yaoqingren" id="Yaoqingren" placeholder="请输入邀请码" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" />
                            </div>
                        </div>
                        

                        <button class="btn btn-block btn-lg btn-default" disabled="disabled" type="submit" id="regbutton">注册</button>

                    }



                </div>
                @*<p>

                        头像: <img src="@wxUserInfo.headimgurl" style="width: 100px;height: 100px;" class="img-circle"><br>
                        昵称:  @wxUserInfo.nickname <br>
                        性别： @wxUserInfo.sex <br>
                        城市: @wxUserInfo.city <br>
                        省份: @wxUserInfo.province <br>
                        权限: @wxUserInfo.privilege <br>
                        unionid: @wxUserInfo.unionid <br>
                        openid @wxUserInfo.openid <br>

                    </p>*@
            </div>
        </div>
    </div>

    <!-- jQuery 3 -->
    <script src="/AdminLTE/jquery/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap-validator/js/bootstrapValidator.js"></script>
    <script type="text/javascript">
        $('.regInput').on("keyup", function () {
            if ($('#RenPhone').val() == '' || $('#RenPassword').val() == '' || $('#Yaoqingren').val() == '' || $('#Yanzhengma').val() == '') {
                
                if($('#regbutton').hasClass('btn-success'))
                {
                    $('#regbutton').removeClass("btn-success");
                    $('#regbutton').addClass("btn-default");
                    $('#regbutton').attr("disabled", "disabled");
                }

            }
            else {

                $('#regbutton').removeClass("btn-default");
                $('#regbutton').removeAttr("disabled");
                $('#regbutton').addClass("btn-success");
            }
        });

       
    </script>
</body>
</html>
