@using SkyWechatService;
@using SkyEntity;
@model SkyEntity.ChanpinOrder
@{
    Layout = null;
    ViewBag.Title = "开通VIP会员";
    WebchatJsUserinfo wxUserInfo = ViewData["userInfo"] as WebchatJsUserinfo;
    Ren renuser = ViewData["renuser"] as Ren;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/AdminLTE/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Resource/css/SkyWap.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3 class="regTitle">用户升级</h3>
                <div class="box-body text-center">
                    <img src="@renuser.RenAvatar" style="width:100px;height:100px" />
                    <h4>@renuser.RenNickName</h4>
                    <small>立刻购买可为当前用户开通VIP</small>

                    @using (Html.BeginForm("ShengjiVIP", "Ucenter", FormMethod.Post, new { @class = "form-horizontal", @name = "Register", @id = "Register" }))
                    {
                        @Html.HiddenFor(model => model.VipUser, new { @Value = renuser.Id })
                        @Html.HiddenFor(model => model.Yaoqingren, new { @Value = renuser.Yaoqingren })
                        @Html.HiddenFor(model => model.ProductType, new { @Value = 1 })
                        @Html.HiddenFor(model => model.BuyChanpin, new { @Value = 1 })
                        @Html.HiddenFor(model => model.CreateTime, new { @Value = DateTime.Now })
                        @Html.HiddenFor(model => model.PayStatus, new { @Value = false })
                        @Html.HiddenFor(model => model.PayTime, new { @Value = DateTime.Now })
                        @Html.HiddenFor(model => model.Status, new { @Value = false })
                        @Html.AntiForgeryToken()
                        <button class="btn btn-warning btn-block btn-lg" type="submit">立即开通</button>
                    }
                    <div class="vipquanyi text-left">
                    <h4>VIP权益</h4>
                        <div class="vipquanyi_content">
                            <ul>
                                <li>
                                    1、陪伴阅读成长
                                    <span>精读一本好书，观看一部电影，</span>
                                </li>
                                <li>
                                    2、自由书写疗愈
                                </li>
                                <li>
                                    3、真人社交分享
                                </li>
                                <li>
                                    4、一对一陪伴特权
                                </li>
                            </ul>
                        </div>                 
                        </div>   
                    </div>

            </div>
        </div>
    </div>

    <!-- jQuery 3 -->
    <script src="/AdminLTE/jquery/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
