@model StaticPagedList<SkyEntity.RenwuDaka>
@using PagedList;
@using PagedList.Mvc;
@using SkyService;
@using SkyCommon;

<div class="container peiban-container">

    <div class="row">
        <div class="col-md-8">
            <h3>我的成长记录</h3>
            <div class="row">
                @Html.AntiForgeryToken()
                @foreach (var item in Model)
                {
                    <div class="dushubiji" onclick="ToUrl(@item.Id)">
                        <h4>@item.DakaTitle</h4>
                        <div class="smalltitle">
                            <span>来自：@PeibanService.GetRenById(item.Peibanshi).RenNickName</span> <span>陪伴师：@PeibanService.GetRenById(item.Peibanshi).RenNickName</span>
                            <br /><span>作者：@PeibanService.GetRenById(item.RenwuZhixingzhe).RenNickName</span><span>打卡时间：@item.DakaTime</span>
                        </div>
                        <div class="contentinfo">
                            @CommonTools.ReplaceHtmlTag(item.DakaContent, 100)
                        </div>
                    </div>

                }
            </div>
            <div class="box-footer clearfix  text-center">
                <ul class="pagination pagination-sm no-margin">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("DakaList", new { page = page }),
                            new PagedListRenderOptions
                            {
                                LinkToPreviousPageFormat = "上一页",
                                LinkToNextPageFormat = "下一页",
                                DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                MaximumPageNumbersToDisplay = 5,
                                LinkToFirstPageFormat = "首页",
                                LinkToLastPageFormat = "最后一页",
                                PageCountAndCurrentLocationFormat = "第 {0}页 共 {1}页"
                            })
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <h3>创始人说</h3>
            <div class="row">
                <div class="col-md-12">
                    <img src="/Resource/img/csrs.jpg" alt="..." class="img-thumbnail" style="width:100%">
                </div>
            </div>
        </div>
    </div>

</div>


@section BottomScripts {

    <script type="text/javascript">
        $('.dushubiji').on("mouseover", function () {
            $(this).addClass("dushuhuibg");
            // alert("asdf");
        }).on("mouseout", function () {
            $(this).removeClass("dushuhuibg");

        });
        function ToUrl(id) {
            var tourl = "/UHome/DakaContent?id=" + id;
            window.location.href = tourl;
        }
    </script>
}
