@model StaticPagedList<SkyEntity.Book>
@using PagedList;
@using PagedList.Mvc;


<div class="container peiban-container">

    <div class="row">
        <div class="col-md-8">
            <h3>陪读书单</h3>
            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-md-3 text-center" onclick="ToUrl(@item.Id)">

                        <img src="@item.Cover" alt="..." class="img-thumbnail" style="width:100%">
                        <h4>@item.Title</h4>
                        <button class="btn btn-info">创造陪伴空间</button>
                    </div>

                }
            </div>
            <div class="box-footer clearfix  text-center">
                <ul class="pagination pagination-sm no-margin">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
                            new PagedListRenderOptions
                            {
                                LinkToPreviousPageFormat = "上一页",
                                LinkToNextPageFormat = "下一页",
                                DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                MaximumPageNumbersToDisplay = 5,
                                LinkToFirstPageFormat = "首页",
                                LinkToLastPageFormat = "最后一页",
                                PageCountAndCurrentLocationFormat = "第 {0}页 共 {1}页"
                            })
                </ul>
            </div>
        </div>
        <div class="col-md-4">

            @if (Session["renname"] != "" && Session["renname"] != null)
            {
                <div class="row text-center">
                    <div class="col-md-12">
                        <img src="/Resource/img/zz.jpg" alt="..." class="img-thumbnail img-circle" style="width:50%">
                        <h3>赵征</h3>
                        <span style="height:50px;line-height:30px">会写代码的心理咨询师</span>
                        <table class="table">
                            <tr>
                                <td><h4>79</h4><span>打卡</span></td>
                                <td style="border-right: 2px solid #eeeeee; border-left: 2px solid #eeeeee"><h4>79</h4><span>粉丝</span></td>
                                <td><h4>79</h4><span>关注</span></td>
                            </tr>
                        </table>
                        <div class="uc-jieshao">
                            会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师
                        </div>
                        <div class="uc-menu">
                            <button class="btn btn-block btn-lg btn-info">我参加的读书营</button>
                            <button class="btn btn-block btn-lg btn-warning">我的读书成长故事</button>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row text-center">
                    <div class="col-md-12" style="margin-bottom:30px;">
                        <img src="/Resource/img/avatarno.jpg" alt="..." class="img-thumbnail img-circle" style="width:50%">
                    </div>
                    <a class="btn btn-success" href="@Url.Action("Login","RenAccount")">&nbsp;&nbsp;&nbsp;点击登录&nbsp;&nbsp;&nbsp;</a>
                </div>
            }


        </div>
    </div>

</div>


@section BottomScripts {
    <script type="text/javascript">
        $('.shudan').on("mouseover", function () {
            $(this).addClass("shudan-active");
            // alert("asdf");
        }).on("mouseout", function () {
            $(this).removeClass("shudan-active");

        });
        function ToUrl(id) {
            var tourl = "/Home/Shu?bid=" + id
            window.location.href = tourl;
        }
    </script>
}
